{{ define "main" }}
<h1>Smartcrop Examples 200X200</h1>
{{ range .Resources.ByType "image" }}
{{ $orig := .Resize "500x" }}
{{ $smart := $orig.Fill "200x200" }}
{{ $center := $orig.Fill "200x200 center" }}

{{ with .Params.anchor }}
	{{  $.Scratch.Set "manual" ($orig.Fill (printf "200x200 %s" .)) }}
{{ else }}
{{  $.Scratch.Set "manual" ($orig.Fill "200x200 center") }}
{{ end }}
<h3>{{ $smart.Title }} (.Fill "200x200 smart")</h3>
<table class="table">
	<thead>
<tr>
<th>Resize 500x</th><th>Fill 200x200 Smart</th><th>Fill 200x200 Center</th><th>Fill 200x200 {{ with .Params.anchor }}{{ . | title }}{{ else }}Center{{ end }}</th>
</tr>
</thead>
<tr>
<td>
<img src="{{ $orig.RelPermalink }}" alt="{{ $orig.Title }}">
</td>
<td>&nbsp;&nbsp;
<img src="{{ $smart.RelPermalink }}" alt="{{ $smart.Title }}">
</td>
<td>&nbsp;&nbsp;
<img src="{{ $center.RelPermalink }}" alt="{{ $center.Title }}">
</td>
<td>&nbsp;&nbsp;
{{ with $.Scratch.Get "manual" }}
<img src="{{ .RelPermalink }}" alt="{{ .Title }}">
{{ end }}
</td>
</tr>
</table>
<h4>Metadata</h4>
<ul>
	<li>Title: {{ $smart.Title }}</li>
	<li>Name: {{ $smart.Name }}</li>
	{{ range $k, $v := $smart.Params}}
	<li>{{ $k | title }}: {{ $v | markdownify }}</li>
	{{ end }}
</ul>
{{ end }}


{{ end }}