{{ define "main" }}
<h1>{{ .Title }}</h1>

<h2>Resources:</h2>
<ul>
{{ range .Resources }}
{{ if .RelPermalink }}
<li><a href="{{ .RelPermalink }}">{{ .ResourceType | title }}</a></li>
{{ else }}
<li>{{ .ResourceType | title }} (no link, only embedded in page)</li>
{{ end }}
{{ end }}
</ul>

<h2>Get a specific resource: (.Resources.GetByPrefix "colors")</h2>
{{ $colors := .Resources.GetByPrefix "colors" }}
{{ with $colors }}
<a href="{{ .RelPermalink }}">{{ .ResourceType | title }}</a></li>
{{ end }}


<h2>Images:</h2>
{{ with .Resources.ByType "image" }}
{{ range . }}
<h3>.Fill "90x120 bottomLeft" => </h3>
{{ $scaled := .Fill "90x120  bottomLeft" }}
<p>Width: {{ $scaled.Width }} Height: {{ $scaled.Height }} {{ $scaled.RelPermalink }}</p>
<img src="{{ $scaled.Permalink }}">

<h3>.Fit "210x210" => </h3>
{{ $scaled := .Fit "210x210" }}
<p>Width: {{ $scaled.Width }} Height: {{ $scaled.Height }} {{ $scaled.RelPermalink }}</p>
<img src="{{ $scaled.Permalink }}">

<h3>.Resize "400x" => </h3>
{{ $scaled := .Resize "400x" }}
<p>Width: {{ $scaled.Width }} Height: {{ $scaled.Height }} {{ $scaled.RelPermalink }}</p>
<img src="{{ $scaled.Permalink }}">

<h3>.Resize "400x100" => </h3>
{{ $scaled := .Resize "400x100" }}
<p>Width: {{ $scaled.Width }} Height: {{ $scaled.Height }} {{ $scaled.RelPermalink }}</p>
<img src="{{ $scaled.Permalink }}">

{{ end }}
{{ end }}

<h2>Sub Pages:</h2>
{{ with .Resources.ByType "page" }}
{{ range . }}
<h3>{{ .Title }}</h3>
{{ .Content }}
{{ end }}
{{ end }}




<h2>Main Content</h2>

{{ .Content }}
{{ end }}


