{{ define "main" }}
<h1>{{ .Title }}</h1>

<h2>Resources:</h2>
<ul>
{{ range .Resources }}
<li>{{ .ResourceType }}: {{ .RelPermalink }} / {{ .Permalink }}</li>
{{ end }}
</ul>


<h2>Images:</h2>
{{ with .Resources.ByType "image" }}
{{ range . }}
<h3>Wdith: {{ .Width }} Height: {{ .Height }}</h3>
<img src="{{ .Permalink }}">
{{ end }}
{{ end }}

<h2>Sub Pages:</h2>
{{ with .Resources.ByType "page" }}
{{ range . }}
<h3>{{ .Title }}</h3>
{{ .Content }}
{{ end }}
{{ end }}


<h2>Main Content</h2>

{{ .Content }}
{{ end }}


